<h1>List of all users</h1>
<% if @users.empty? %>
	<p>There are no users! Go create one <%= link_to "here", :action => "sign_up" %>.</p>
<% else %>
	<% for u in @users do %>
		<p><%= link_to u.email, :id => u.id %></p>
	<% end %>
<% end %>


